# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_internal_packages/

Enunciado.md
.gitignore
.github/

check_perms.sh
explore_db3.py
explore_db2.py
explore_db.py
check_duckdb.py

ingesta/data/
ingesta/ingest.py

